<div id="container">


	<table>
	  <tr>
	    <th>Name</th>
	    <th>Login</th>
	    <th>E-mail</th>
	    <% if current_user.is_employee? %>
	    <th>Is employee</th>
	    <%end%>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.login %></td>
	    <td><%= user.email %></td>
	    <% if current_user.is_employee? %>
	    	<td><%= user.is_employee %></td>
	   	<% end %>
	    <td><%= link_to 'Show', user %></td>
	    <td><%= link_to 'Edit', edit_user_path(user) %></td>
	    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= paginate @users %>
</div>