<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Is employee:</b>
  <%= @user.is_employee %>
</p>

<p>
  <b>Created by:</b>
  <%= @user.created_by %>
</p>

<p>
  <b>Update by:</b>
  <%= @user.update_by %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
