<%= form_for(@loan) do |f| %>	

<div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id  %>
</div>
<div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
</div>
<div class="actions" id="button">
    <%= f.submit value="Reservar livro?", name:"queue_submit"%>
</div>
<% end %>
