<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @queue_list.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @queue_list.user_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @queue_list.created_by %>
</p>

<p>
  <b>Update by:</b>
  <%= @queue_list.update_by %>
</p>


<%= link_to 'Edit', edit_queue_list_path(@queue_list) %> |
<%= link_to 'Back', queue_lists_path %>
