<div id="container">
	<div id="menu-auxiliar">
		<%if can? :create, @books%>
			<%= link_to 'New Book', new_book_path, id: "menu-bar"%>
		<%end%>	
	</div>

	<table>
	  <tr>
	    <th>Title</th>
	    <th>Writer</th>
	    <th>Pages</th>
	    <th>Copies</th>
	    <%if can? :read, @books%>
	    	<th></th>
	    <%end%>	
	    <%if can? :update, @books%>
	    	<th></th>
	    <%end%>	
	    <%if can? :destroy, @books%>	
	    	<th></th>
	    <%end%>
	  </tr>

	<% @books.each do |book| %>
	  <tr>
	    <td><%= book.title %></td>
	    <td><%= book.writer %></td>
	    <td><%= book.pages %></td>
	    <td><%= book.copies %></td>
	  	<%if can? :read, @books%>
	  		<td><%= link_to 'Show', book %></td>
	    <% end %>
	    <%if can? :update, @books%>
	    	<td><%= link_to 'Edit', edit_book_path(book) %></td>
	    <%end%>
	    <%if can? :destroy, @books%>
	    	<td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	 	<%end%>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= paginate @books%>
</div>