<div id="container">	
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Title:</b>
	  <%= @book.title %>
	</p>

	<p>
	  <b>Writer:</b>
	  <%= @book.writer %>
	</p>

	<p>
	  <b>Pages:</b>
	  <%= @book.pages %>
	</p>

	<p>
	  <b>Copies:</b>
	  <%= @book.copies %>
	</p>

	<p>
	  <b>Created by:</b>
	  <%= @book.created_by %>
	</p>

	<p>
	  <b>Update by:</b>
	  <%= @book.update_by %>
	</p>


	<%= link_to 'Edit', edit_book_path(@book) %> |
	<%= link_to 'Back', books_path %>
</div>