<div id="container-form">
	<%= form_for(@loan) do |f| %>
	  	<% if @loan.errors.any? %>
	    	<div id="error_explanation">
	      		<h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

	      		<ul>
	      			<% @loan.errors.full_messages.each do |msg| %>
	        			<li><%= msg %></li>
	      			<% end %>
	      		</ul>
	    	</div>
	  	<% end %>		
		<div class="field">
			<%= f.label :book_id, id: "label" %>
		    <%= f.collection_select :book_id, @books, :id, :title %>
		</div>
		<div class="field">
		    <%= f.label :user_id, id: "label" %>
		    <% if current_user.is_employee? %>
		    	<%= f.collection_select :user_id, @users, :id, :name %>
		    <% else %>
		    	<%= f.collection_select :user_id, @users, :id, :name, {:selected => current_user.id}, {:disabled => true } %>
		    <% end %>
		</div>
		<div class="field">
		    <%= f.label :starts_at %>
		    <%= f.text_field :starts_at, :disabled => true  %>
		  
		    <%= f.label :end_at %>
		    <%= f.text_field :end_at, :disabled => true %>
		</div>
		<div class="actions" id="button">
		    
		    <% if @loan.errors[:all_loaned_books].any? %>   
		    	 
		    	 <% teste = QueueList.new(book_id:@loan.book_id, user_id:@loan.user_id) %>

		    	 <%= render "queue_lists/form", queue_list: teste %>
		   

		    	<a href="/queue_lists/new" rel="facebox">Não funciona como era pra ser :(</a>
		   	<% else %>
		   		<%= f.submit value="Salvar", :name => "loan_submit"%>
		    <% end %>
		</div>
	<% end %>
</div>  
