<div id="container">
	<div id="menu-auxiliar">
		<%= link_to 'New Loan', new_loan_path, id: "menu-bar"%>
	</div>
	<table>
	  <tr>
	    <th>Book</th>
	    <th>User</th>
	    <th>Starts at</th>
	    <th>End at</th>
	    <th></th>
	    <th></th>
	    <% if can? :destroy, @loan %>
	    	<th></th>
	  	<%end%>
	  </tr>

	<% @loans.each do |loan| %>
	  <tr>
	    <td><%= Book.find(loan.book_id).title.capitalize %></td>
	    <td><%= User.find(loan.user_id).name.capitalize %></td>
	    <td><%= loan.starts_at.strftime("%d/%m/%y") %></td>
	    <td><%= loan.end_at.strftime("%d/%m/%y") %></td>
	    <td><%= link_to 'Show', loan %></td>
	    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
	    <% if can? :destroy, @loan %>
	    <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <%end%>
	  </tr>
	<% end %>
	</table>

	<br />
	<%= paginate @loans %>
</div>