<div id="container-form">	
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Book:</b>
	  <%= Book.find(@loan.book_id).title.capitalize %>
	</p>

	<p>
	  <b>User:</b>
	  <%= User.find(@loan.user_id).name.capitalize %>
	</p>

	<p>
	  <b>Starts at:</b>
	  <%= @loan.starts_at.strftime("%d/%m/%Y") %>
	</p>

	<p>
	  <b>End at:</b>
	  <%= @loan.end_at.strftime("%d/%m/%Y") %>
	</p>

	<%= link_to 'Edit', edit_loan_path(@loan) %> |
	<%= link_to 'Back', loans_path %>
</div>