<!DOCTYPE html>
<html>
  <head>
    <title>Alexandria</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
  </head>
    <body>
    	<%= javascript_include_tag 'jquery' %>
		<script>
		var conf = {};
		$.ajax({
			async: false,
			url: '/permissions.json',
			dataType: "json",
			success: function(data) {
				conf = data;
			}
		});

    	</script>   	
        <div id="user_nav">
            <% if user_signed_in? %>
                Signed in as <%= current_user.email %>. Not you?
                <%= link_to "Sign out", destroy_user_session_path, id:"devise"%>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path, id:"devise" %> or <%= link_to "Sign in", new_user_session_path, id:"devise" %>
            <% end %>
        </div>
              
     
        <%= yield %>
    </body>
</html>
