<!DOCTYPE html>
<html>
  <head>
    <title>Alexandria</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="nav-bar">    
      <div id="menu">
        <ul>
          <% @menu.each do |item, value| -%>
            <% if @current_menu_item == item -%>
              <li id="current"><a href="<%= value[:link] %>"><%= value[:name] %></a></li>
            <% else -%>
              <li><a href="<%= value[:link] %>"><%= value[:name] %></a></li>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div id="bottom-bar">
    	<button onclick="goBack()">Go Back</button>
    	<a href="/queue_lists/new" rel="facebox">text</a>
    </div>
  </body>
</html>
